html, body {
  height: 100%;
  width: 100%;
}
.bg-light-blue {
  background-color: #ccccff;
}
.text-dark-blue {
  color: #0066cc;
}
.text-blue {
  color: #1a8cff;
}
.vertical-align {
  vertical-align: center;
}
.centered {
  margin: auto;
}
.inline-block {
  display: inline-block;
}
#footer {
  background-color: #ccccff;
  height: 13%;
  text-align:center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  }
.btn-color {
  background-color: #ff9900;
  border: solid 5px;
  border-style: outset;
}
.display-none {
  display: none;
}